@import "styles/variables";

.wrapper {
  width: 350px;
  height: 48px;
  background-color: $dark-blue;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper:hover {
  background-color: $dark-gray;
}

.text {
  width: 350px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0 11px 12px;
}

.num {
  font-family: 'Spartan', ui-monospace;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.5;
}

.name {
  font-size: $h3;
  margin-left: 25px;
}