$white: #ffffff;
$dark-blue: #070724;
$dark-gray: #38384F;
$gray: #838391;
$wave-blue: #419EBB;
$yellow: #EDA249;
$purple: #6f2ed6;
$hot-orange: #D14C32;
$red: #D83A34;
$orange: #CD5120;
$blue-greenish: #1ec2a4;
$blue: #2d68f0;
$h1: 80px;
$h2: 40px;
$h3: 12px;
$h4: 11px;
$body-font: 14px;
